<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requests</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table-responsive {
            overflow-x: auto;
        }
        table {
            border: 2px solid #dee2e6;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GAS UTILITY COMPANY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'submit_request' %}">Service Request </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'request_tracking' %}">Request Tracking <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Customer Name</th>
                <th>Type of Request</th>
                <th>Status</th>
                <th>Submitted At</th>
                <th>Resolved At</th>
            </tr>
            </thead>
            <tbody>
            {% for request in requests %}
            <tr class="{% cycle 'table-info' 'table-light' %}">
                <td>{{ request.customer_name }}</td>
                <td>{{ request.type_of_request }}</td>
                <td>{% if request.resolved %}Resolved{% else %}Pending{% endif %}</td>
                <td>{{ request.submitted_at }}</td>
                <td>{% if request.resolved %}{{ request.resolved_at }}{% endif %}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
